In [1]:

#Numeric Data Type
#Int
#float
#complex

a=5
print("Type of a",type(a))

b=5.0
print("Type of b", type(b))

c=2+4j     # complex number in the form of a+bj  where a and b any number
print("Type of c",type(c))

Type of a <class 'int'>
Type of b <class 'float'>
Type of c <class 'complex'>

In [15]:

text="hello and welcome to my world"

# to capitalize 

print(text.capitalize())

#count
# value, start end
print(text.count("welcome"))

#split
print(text.split())

#uppercase
print(text.upper())

# Join
mylist=("Apple","Banana","Grapes")
x="#".join(mylist)
print(x)

#find

print(text.rfind("e"))

print(text.find("welcome"))
# replace parameter  old value, new value , count
print(text.replace("welcome","python"))


# concatenation

a="hello"
b="world"

print(a+b)

Hello and welcome to my world
1
['hello', 'and', 'welcome', 'to', 'my', 'world']
HELLO AND WELCOME TO MY WORLD
Apple#Banana#Grapes
16
10
hello and python to my world
helloworld

In [28]:
lst=[10,20,30,40,50,60,70]

# append will add element in the end

lst.append(80)
print("append() operation")
print(lst)

#Remove the elemnt
lst.pop(3)
print("pop() operation to remove")
print(lst)

# reverse 
lst.reverse()
print("list be in reverse ")
print(lst)
# sorting  lst.sort(reverse=True) descending order
lst.sort()
print("list after sorting")
print(lst)

#finding the index of element

print("Index of 60",+lst.index(60))

# remove all the elemnts in list
#lst.clear()
#print("remove all the elements")
#print(lst)
#lst insert
lst.insert(3,'40')
print(lst)
#extend
lst2=[1,2,3,4]
lst.extend(lst2)
print(lst)

#copy of list
print(lst2.copy())

# remove
lst.remove(20)
print(lst)

append() operation
[10, 20, 30, 40, 50, 60, 70, 80]
pop() operation to remove
[10, 20, 30, 50, 60, 70, 80]
list be in reverse
[80, 70, 60, 50, 30, 20, 10]
list after sorting
[10, 20, 30, 50, 60, 70, 80]
Index of 60 4
[10, 20, 30, '40', 50, 60, 70, 80]
[10, 20, 30, '40', 50, 60, 70, 80, 1, 2, 3, 4]
[1, 2, 3, 4]
[10, 30, '40', 50, 60, 70, 80, 1, 2, 3, 4]

In [29]:
# converting a sring into list
lst1=[]
for char in "Programming":
    lst1.append(char)
print(lst1)

['P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [33]:
# convert a tuple in a list
lst=[] #empty list[1,2,3,4,5]
tup=(1,2,3,4,5)
for i in tup:
    lst.append(i)
print("Appended tupple",lst)

#nested list comprehendion
matrix=[[j for j in range(5)] for i in range(3)]
print("nested list comprehension",matrix)

# list comprhension in loop
list=[i for i in lst]
print("comprehension using loop",list)

Appended tupple [1, 2, 3, 4, 5]
nested list comprehension [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
comprehension using loop [1, 2, 3, 4, 5]

In [35]:
#Tuple method
#immutable data type 
t1=(1,2,3,1,4,5,2,1,1,2)
print("return occurence of element 1",+t1.count(1))
print("Return the index of element 5",+t1.index(5))

return occurence of element 1 4
Return the index of element 5 5

In [36]:
#Set Datatype
s1=set([1,23,5,5,"python",0,2.0,'a'])
print("Mixed vlue",s1)

s2=set("Intellipaat")
print("Set mapped through string",s2)

Mixed vlue {0, 1, 2.0, 5, 'a', 23, 'python'}
Set mapped through string {'e', 'a', 'l', 't', 'n', 'i', 'I', 'p'}

In [42]:
#Set Methods
s={'i','n','t','e','l'}
# add a elemnt
s.add('p')
print(s)
# remove 
s.remove('e')
print(s)
#pop
s.pop()
print(s)
a={'p','i'}

print(s.union(a))

s.clear()
print(s)

{'l', 'e', 't', 'n', 'i', 'p'}
{'l', 't', 'n', 'i', 'p'}
{'t', 'n', 'i', 'p'}
{'t', 'n', 'i', 'p'}
set()

In [1]:
#set Operation 

a={'i','n','t','r','l'}
b={'p','y','t','h','o','n'}

#finding the intersection of s and a
# 
print("a(intersection)b:",a.intersection(b))

#finding the difference  
# the element are in set a but not in b
print("a(difference)b",a.difference(b))

# finding symmetric difference
#not matching value in both the set
print("a(symmetric difference)b",a.symmetric_difference(b))

a(intersection)b: {'t', 'n'}
a(difference)b {'i', 'r', 'l'}
a(symmetric difference)b {'y', 'h', 'p', 'i', 'l', 'o', 'r'}

In [49]:
# joins in set

s1={"Python","Training","Intellipaat"}
s2=set([1,2,3,"python",4.0])
s3={'a','e','i','o','u'}

s2.update(s1)
print("update for set join",s2)

print("|operator join s1 and s3",s1|s3)

import operator
from functools import reduce
print("reduce() join s1 ans s2")
print(reduce(operator.or_,[s1,s2]))

import itertools
new_set=set(itertools.chain(s1,s2,s3))
print("itertools chain",new_set)

s4={12,32,11,2}
set2=(*s1,*s4)
print("* operator to join ",set2)

update for set join {1, 2, 3, 4.0, 'Python', 'Training', 'Intellipaat', 'python'}
|operator join s1 and s3 {'u', 'e', 'Python', 'a', 'Training', 'o', 'Intellipaat', 'i'}
reduce() join s1 ans s2
{1, 2, 3, 4.0, 'Python', 'Training', 'Intellipaat', 'python'}
itertools chain {1, 2, 3, 4.0, 'u', 'e', 'Python', 'a', 'Training', 'o', 'Intellipaat', 'i', 'python'}
* operator to join  ('Python', 'Training', 'Intellipaat', 32, 2, 11, 12)

In [51]:
#Dictionaries : key-value

dict1={1:"Python",2:"Training",3:"Online"}
print("dictionary with integers key")
print(dict1)

dict2={'Name':"Python",1:"Hello"}
print("mixed value",dict2)

dictionary with integers key
{1: 'Python', 2: 'Training', 3: 'Online'}
mixed value {'Name': 'Python', 1: 'Hello'}

In [60]:
#access the key
print(dict1.get(1))

# accessing key for the dic
print(dict1.keys())

# accessing the values in dic
print(dict1.values())

#accessing the item in di
print(dict1.items())

# remove the value with key
#print(dict1.pop(1))
print("after removeal",dict1)

None
dict_keys([2, 3])
dict_values(['Training', 'Online'])
dict_items([(2, 'Training'), (3, 'Online')])
{2: 'Training', 3: 'Online'}

In [62]:
# dictionay comrehension
# creating dic fromm two list

keys=['a','b','c']
values=[1,2,3]
dict1={k:v for (k,v) in zip(keys,values)}
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [64]:
#Slicing in python
string="Intellipaat Python Training"
print(string[0:12])# printing 0-12 character
print(string[3:14:2]) #char jumps bt 2 middle character
print(string[::-1])# printing the reverse string
print(string[12:]) # print character after index 12
print(string[:12])# print first 12 character

Intellipaat
elpa y
gniniarT nohtyP taapilletnI
Python Training
Intellipaat

In [65]:
#list slicing
lst=[10,20,30,40,50,60,70]
print(lst[::]) # it will print all the list
print(lst[::-1])# reverse list
print(lst[4:1:-1])# printing in the range of 4-1
print(lst[::-3]) #reverse with jump 3
print(lst[0:3])# print in range 0-3

[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10]
[50, 40, 30]
[70, 40, 10]
[10, 20, 30]